@model IEnumerable<TrainingApplication.ViewModels.CoursesTraineesViewModel>
@{
    ViewBag.Title = "GetTrainees";
}

<h2>Trainees in course</h2>

<div>
    @Html.ActionLink("Assign Trainee", "AddTrainee", "Courses", new { @class = "btn btn-success" })
    @Html.ActionLink("Remove Trainee", "RemoveTrainee", "Courses", new { @class = "btn btn-danger" })
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Trainee</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    <ul>
                        @foreach (var trainee in item.Trainees)
                        {
                            <li>@trainee.Email</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>